{% extends 'layout.html.twig' %}

{% block page_title %}final filer{% endblock %}

{% block content %}
    {% if session is not defined %}
        <h1>Put your creative energy to work, with Filer</h1>
        <p>Filer is a modern workspace designed to reduce busywork—so you can focus on the things that matter.</p>
    {% else %}
        <h1>Hello {{session['u_first']}}</h1>
        <h2>List of files : </h2>
{% for file in files %}
<div class="fileView">
<p class="fileName" title={{'ajout:' ~ file['date_ajout'] }}>{{ file['name'] }}</p>
<form action="?action=edit" class="edit" method="POST">
<input type="hidden" name="secretName" value="{{file['name']}}">
<input type="hidden" name="secretToken" value="{{file['token']}}">
<input class="newName" type="text" name="newName" placeholder="New Name"> 
<input type="submit" name="renameButton" value="&#xf044;"  class="submitButton"> 
<input type="submit" name="downloadButton" value="&#xf0ed;" class="submitButton">
<input type="submit" name="deleteButton" value="&#xf00d;" class="submitButton">
</form>
</div>
{% endfor %}
{% endif %}
{% endblock %}
